.foto-profile-first {
  position: absolute;
  left: 20px;
  transform: translateY(-70%);
}

.link {
  &:hover {
    border-bottom: 1px solid #0a66c2;
  }
}

.link2 {
  &:hover {
    color: #0a66c2 !important;
    border-bottom: 1px solid #0a66c2;
  }
}

.cta {
  border-radius: 30px;
  background-color: white;
  border: 1px solid #666666;
  color: #666666;
}
.cta:hover {
  background-color: rgb(224, 224, 224);
  border: 2px solid #666666;
  color: #666666;
}

.cta2 {
  border-radius: 30px;
}

.text {
  font-size: 0.9em;
}

.pencil-add {
  height: 40px;
  width: 40px;
  &:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }
}

.modale {
  overflow-y: auto;
  height: 450px;
}
