.footerQuestion2 {
  font-size: 0.75em;
  margin-left: 5px !important;
}

.text-footer {
  font-size: 0.8em;
}

.color,
#basic-nav-dropdown {
  &:hover {
    color: #378fe9;
    text-decoration: underline;
    cursor: pointer;
  }
}

.dropdown-text {
  font-size: 0.7em;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.dropdown-text2 {
  font-size: 0.9em;
}
