.foto-profile-first-home {
  position: absolute;
  left: 40%;
  transform: translateY(50%);
}

.userName {
  font-size: 1em;
  &:hover {
    text-decoration: underline #c1a1e5;
    cursor: pointer;
  }
}

.userLavoro {
  font-size: 0.8em;
}

.collegamenti {
  line-height: -0.5;
  font-size: 0.7em;
  &:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }
}

.premiumHome {
  &:hover {
    color: #0a66c2;
  }
}

.card2 {
  font-size: 0.75em;
  &:hover {
    text-decoration: underline;
  }
}
