.logo {
  width: 25px;
}

.search {
  height: 28px;
}

.my-nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-navbar {
  font-size: 1.3em;
  color: rgb(96, 96, 96);
  &:hover {
    cursor: pointer;
    color: black;
  }
}

.text-icons {
  font-size: 0.8em;
  padding: 0;
  color: rgb(96, 96, 96);
  &:hover {
    cursor: pointer;
    color: black;
  }
}

.premium {
  color: #bb7309;
  font-size: 0.8em;
  &:hover {
    cursor: pointer;
    color: black;
  }
}
