.textEsperienza {
  padding-left: 1.5em;
}
.textFlex {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.noBorder {
  border: none;
}

.pencil-add {
  height: 40px;
  width: 40px;
  &:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }
}

.competenze {
  font-size: 0.8em !important;
}

.competenzeText {
  font-weight: 500;
}
