.imgIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

h6 {
  font-weight: bolder;
}
ul {
  li {
    color: rgb(56, 55, 55);
    font-weight: 500;
    font-size: 0.8em;
    margin-bottom: 20px;
  }
}
